.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 1.6rem 7%;
    background: transparent;
    display: flex;
    align-items: center;
    z-index: 100;
}

.header.sticky {
    transition: .4s;
    background: var(--cor-fundo);
    box-shadow: 0 .1rem 1rem var(--cor_sombra);
}

.logo {
    font-size: 3.6rem;
    color: var(--cor-principal);
    font-weight: bold;
    cursor: default;
    margin-right: auto;
}

.navbar a {
    position: relative;
    font-size: 2.2rem;
    color: var(--cor-texto);
    font-weight: 500;
    margin-right: 3.5rem;
}

.header.sticky .navbar a.active {
    color: var(--cor-principal);
}



.navbar a.active::before {
    content: '';
    position: absolute;
    left: 0;
    bottom: -6px;
    width: 100%;
    height: .2rem;
    background: var(--cor-branca);
}


.header.sticky .navbar a::before {
    background: var(--cor-principal);
    opacity: .7;
}

#darkMode-icon {
    font-size: 2.4rem;
    color: var(--cor-principal);
    cursor: pointer;
}

.header.sticky #darkModeIcon {
    color: var(--cor-texto);
    opacity: .9;
}

#menu-icon {
    font-size: 3.6rem;
    color: var(--cor-texto);
    display: none;
}

@media (max-width: 1024px){
    .header{
        padding: 2rem 3%;
    }

    section{
        padding: 10rem 3% 2rem;
    }
}
@media (max-width: 768px) {
    #menu-icon{
        display: block;
    }

    #menu-icon:hover{
        cursor: pointer;
    }

    #darkMode-icon {
        position: absolute;
        right: 7rem;
        font-size: 2.6rem;
        color: var(--cor-texto);
        margin-bottom: .1rem;
    }

    .navbar{
        display: none;
        position: absolute;
        top: 100%;
        left: 0;
        width: 100%;
        padding: 1rem 3%;
        background: var(--cor-fundo);
        border-top: .1rem solid rgba(0, 0, 0, .2);
        box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .1);
    }

    .navbar.active{
        display: block;
    }

    .navbar a{
        display: block;
        font-size: 2rem;
        margin: 3rem 0;
        color: var(--cor-texto);
    }

    .navbar a:nth-child(1),
    .navbar a:nth-child(2) {
        color: var(--cor-texto);
    }

    .navbar a.active{
        color: var(--cor-principal);
    }

    .navbar a::before{
        display: none;
    }
}