section {
    min-height: 100vh;
    padding: 10rem 10% 2rem;
}

.home {
    display: flex;
    align-items: center;
    justify-content: center;
}

.home .conteudo-home {
    max-width: 80rem;
    text-align: center;
}

.conteudo-home h3 {
    font-size: 4.8rem;
    font-weight: 700;
    line-height: .3;
}

.conteudo-home h1 {
    font-size: 5.9rem;
    font-weight: 700;
    margin-bottom: .3rem;
}

.conteudo-home p {
    font-size: 2.7rem;
    margin-bottom: 4rem;
}

span {
    color: var(--cor-principal);
}


.btn {
    display: inline-block;
    padding: 1.2rem 2.8rem;
    background: var(--cor-principal);
    border-radius: .6rem;
    font-size: 1.6rem;
    box-shadow: 0.2rem .5rem var(--cor_sombra);
    color: #fdfdfd;
    letter-spacing: .1rem;
    font-weight: 600;
    border: .2rem solid transparent;
    transition: .5s ease;
}

.btn:hover {
    background: transparent;
    color: var(--main-color);
}

@media (max-width: 991px) {
    .home .conteudo-home{
        max-width: 50rem;
    }
}

